<h4>Current Train Times</h4>
<div class="jumbotron">

<!-- <ul >
  <li>
    {{f.id}}
    {{f.t}}
    {{f.l.lat}}
    {{f.l.lng}}
    {{f.l.t}}

  </li>
</ul> -->

<table class="rwd-table">
  <tr >
    <th>ID</th>
    <th>Title</th>
    <th>Location</th>
    <th>Download</th>
  </tr>
  <tr  ng-repeat="f in vm.feeds track by $index">
    <td data-th="ID">{{f.id}}</td>
    <td data-th="Title">{{f.t}}</td>
    <td data-th="Location">{{f.l.lat}} {{f.l.lng}} {{f.l.t}}</td>
    <td data-th="Download"><a href='{{f.u.d}}'>{{f.u.d}}</a></td>
  </tr>
</table>

</div>
