<div >
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th,
    td {
      padding: 5px;
      text-align: left;
    }
    .tube-menu{
      display: none;
    }
  </style>
  <div class=" col-md-12">
    <div class="col-md-3">

    <table>
      <tr>
        <th>Station</th>

      </tr>
      <tr ng-repeat='f in vm.feeds.data.stations'>

        <th ng-click="vm.getCode(f.station_code)">
          <a href="">{{f.name}}</a>
        </th>
      </tr>
    </table>

  </div>
    <div class="col-md-8" id="liveTable">

      <div ng-bind-html="vm.liveTable.$$state.value.data" ng-class="liveTable"  >

      </div>
    </div>
  </div>

</div>
