<h4>Current Train Times</h4>
<div class="jumbotron">
<li ng-repeat='trains in vm.trains'>
 {{trains}} | {{trains.arrivalTime}}
</li>
<li ng-repeat='agencies in vm.agencies'>
 {{agencies}}
</li>

<ul ng-repeat='f in vm.feeds'>
  <li>
    {{f.results | json}}
  </li>
</ul>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
